@model AlbumCollection.Models.Album
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details of the Album</title>
    <link rel="stylesheet" href="~/CSS/Album.css" />
</head>

<body>
    
    <nav id="navbar">
        <ul>
            <li><a href="/Album/details/1">Hybrid Theory</a></li>
            <li><a href="/Album/details/2">Meteora</a></li>
            <li><a href="/Album/details/3">Minutes to Midnight</a></li>
            <li><a href="/Song/Create">Add a Song</a></li>
        </ul>
    </nav>
    <h1>Songs in the Album</h1>
    @foreach (var song in Model.Songs)
    {

        <h2>
            @song.SongId.  @song.SongName

        </h2>

    }
</body>
</html>
