@model IEnumerable<AlbumCollection.Models.Album>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @foreach (var album in Model)
    {
        <a href="/Album/details/@album.AlbumId">@album.AlbumName</a>
    }
    <a href="/Song/Create">Add a Song</a>
</body>
</html>
